{% assign image_size  = 'compact_url' %}
{% assign image_class = 'grid-2 xs-grid-3' %}
{% assign content_class = 'grid-10 xs-grid-9' %}

{% if settings.product_preview-image-mc_size == 'full' %}
  {% assign image_class = 'grid-3 mc-grid-12 mc-padded-sides' %}
  {% assign content_class = 'grid-9 mc-grid-12' %}
  {% assign image_size = 'medium_url' %}
{% endif %}

<div id="cart_order_line_{{ item.id }}"
      class="cart_item"
      data-item-id="{{ item.id }}"
>
  {% comment %}
    картинка
  {% endcomment %}
  <div class="cart_item-image
              {{ image_class }}
              padded-right xs-padded-bottom"
  >
    <div class="image-wrapper">
      <a href="{{ item.product.url }}" class="image-square">
        <img src="{{ item.product.first_image[image_size] }}" />
      </a>
    </div>
  </div>

  {% comment %}
    название
  {% endcomment %}
  <div class="cart_item-title
              {{ content_class }}"
  >
    <a href="{{ item.product.url }}" class="cart_item-link">
      {{ item.title }}
    </a>
    {% if item.sku %}
      <div class="cart_item-sku">арт. {{ item.sku }}</div>
    {% endif %}
  </div>

  <div class="{{ content_class }} xs-grid-12
              padded-top"
  >
    {% comment %}
      кол-во
    {% endcomment %}
    <div class="cart_item-quantity
                grid-3 xs-grid-4 mc-grid-6"
    >

      <div class="quantity quantity--inline">
        <div class="quantity-button quantity-button--minus
                    button
                    js-quantity-minus"
        >
          <i class="fa fa-minus"></i>
        </div>

        <input  type="text"
                class="quantity-input js-quantity-input"
                name="cart[quantity][{{ item.id }}]"
                value="{{ item.quantity }}"
                data-price="{{ item.sale_price }}"
        />

        <div class="quantity-button quantity-button--plus
                    button
                    js-quantity-plus"
        >
          <i class="fa fa-plus"></i>
        </div>

      </div>

    </div>

    {% comment %}
      цена
    {% endcomment %}
    <div class="cart_item-prices cart_item-prices--stock prices-current
                grid-4 xs-grid-3
                mc-hidden
                center
                "
    >
      <span class="cart_item-time">
        <i class="fa fa-times"></i>
      </span>

      <span class="js-price_type-{{ item.id }}">
        {{ item.sale_price | money }}
      </span>

      <span class="cart_item-eql">
        =
      </span>
    </div>

    {% comment %}
      суммарно
    {% endcomment %}
    <div class="cart_item-prices cart_item-prices--total
                prices-current
                grid-4
                js-cart_item-total
                js-price_type-{{ item.id }}
                center"
    >
      {{ item.total_price | money }}
    </div>

    {% comment %}
      удаление
    {% endcomment %}
    <div class="cart_item-delete
                grid-1 mc-grid-2
                right"
    >
      <a  href="{{ item.url }}"
          class="button
                js-cart_item-delete"
          data-item-id="{{ item.id }}"
      >
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
</div>