{% comment %}
модуль вывода ссылок соцканалов
{% endcomment %}

{% if settings.show_socials_links %}
  <div class="social_links">

    {% if settings.show_youtube_link %}
      <a href="{{ settings.youtube_link }}" class="social_links-link social_links-link--youtube" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    {% endif %}

    {% if settings.show_googleplus_link %}
      <a href="{{ settings.googleplus_link }}" class="social_links-link social_links-link--googleplus" target="_blank">
        <i class="fa fa-googleplus"></i>
      </a>
    {% endif %}

    {% if settings.show_vk_link %}
      <a href="{{ settings.vk_link }}" class="social_links-link social_links-link--vk" target="_blank">
        <i class="fa fa-vk"></i>
      </a>
    {% endif %}

    {% if settings.show_facebook_link %}
      <a href="{{ settings.facebook_link }}" class="social_links-link social_links-link--facebook" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    {% endif %}

    {% if settings.show_twitter_link %}
      <a href="{{ settings.twitter_link }}" class="social_links-link social_links-link--twitter" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    {% endif %}

    {% if settings.show_pinterest_link %}
      <a href="{{ settings.pinterest_link }}" class="social_links-link social_links-link--pinterest" target="_blank">
        <i class="fa fa-pinterest"></i>
      </a>
    {% endif %}

  </div>
{% endif %}