{% comment %}
  ОТЗЫВЫ
{% endcomment %}

{% if account.reviews_enabled? %}
{% comment %}
  список отзывов
{% endcomment %}
<div id="reviews" class="reviews">
  <h2 class="reviews-title">
    Отзывы
  </h2>

  {% if product.reviews == empty %}
    <div class="notice notice--info">
      Пока нет отзывов
    </div>
  {% else %}

    <ul class="reviews-list">
    {% for review in product.reviews %}

      <li class="review">
        <div class="review-details">
          <span class="review-name">{{ review.author }}</span> {{ review.created_at | date: "%d.%m.%Y %H:%M" }}
        </div>

        <div class="review-content">
          {{ review.content | newline_to_br }}
        </div>

        {% if review.rating %}
          <div class="review-rating rating">
            Оценка:
            <select class="js-rating-read_only">
              {% for i in (1..5) %}
                <option value="{{ i }}" {% if review.rating == i %}selected="selected"{% endif %}>
                  {{ i }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </li>

    {% endfor %}
    </ul>

  {% endif %}
</div>

{% comment %}
  форма отзыва
{% endcomment %}
<div id="review_form" class="review_form">
  {% form review %}
    <h3>Оставить отзыв</h3>

    {% if form.posted_successfully? %}

      {% if account.reviews_moderated? %}
        <div class="review_form-notice notice notice--success">
          Отзыв успешно отправлен.<br />
          Он будет промодерирован владельцем магазина перед публикацией.
        </div>
      {% else %}
        <div class="review_form-notice notice notice--success">Отзыв добавлен.</div>
      {% endif %}

    {% endif %}

    {% if review.errors.size > 0 %}
      <div class="review_form-notice notice notice--warning">
        Не все поля заполнены правильно!
      </div>
    {% endif %}

    <div class="notice notice--info">
      Все поля обязательны к заполнению
    </div>

    <div class="review_form-input input input--required
                {% if review.errors contains 'author' %} input--error{% endif %}"
    >
      <label for="review_author" class="input-label">
        Имя
      </label>

      <input  type="text"
              name="review[author]"
              value="{{ review.author }}"
              class="input-field"
      />

      <span class="input-notice notice notice--warning">
        вы не представились
      </span>
    </div>

    <div class="review_form-input input input--required
                {% if review.errors contains 'email' %} input--error{% endif %}"
    >
      <label for="review_email" class="input-label">
        E-mail (на сайте не публикуется)
      </label>

      <input  type="email"
              name="review[email]"
              value="{{ review.email }}"
              class="input-field"
      />

      <span class="input-notice notice notice--warning">
        не правильно введен e-mail
      </span>
    </div>

    <div class="review_form-input input input--required
                {% if review.errors contains 'content' %} input--error{% endif %}"
    >
      <label for="review_body" class="input-label">
        Отзыв
      </label>

      <textarea name="review[content]"
                rows="4"
                class="input-field"
      >{{ review.content }}</textarea>

      <span class="input-notice notice notice--warning">
        нам интересно Ваше мнение о товаре
      </span>
    </div>

    <div class="review_form-input rating_wrapper">
      <label for="rating" class="rating-label">Оцените товар:</label>

      <select class="js-rating" name="review[rating]">
        <option value="">a</option>
        {% for i in (1..5) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>

    {% if review.captcha_enabled? %}
      <div id="captcha"
            class="review_form-input input input--captcha input--required
                  {% if review.errors contains 'captcha_solution' %} input--error{% endif %}"
      >
        <label class="input-label">
          Наберите текст, изображённый на картинке
        </label>

        <div id="captcha_challenge" class="input-captcha">
          {{ review | captcha_challenge }}
        </div>

        <input type="text"
                name="review[captcha_solution]"
                class="input-field"
        />

        <span class="input-notice notice notice--warning">
          Вы неправильно ввели текст с картинки
        </span>
      </div>
    {% endif %}

    {% if account.reviews_moderated? %}
      <div class="notice notice--info">
        Перед публикацией отзывы проходят модерацию
      </div>
    {% endif %}

    <input type="submit"
            class="review_form-submit button js-review-submit"
            value="Отправить отзыв"
    />

  {% endform %}
</div>

{% endif %}
