<h1 class="collection-title content-title">
  {% if filter.title %}
    {{ filter.title }}
  {% else %}
    {{ collection.title }}
  {% endif %}
</h1>

{% paginate products by 12 %}

  {% if paginate.current_page == 1 %}
    {% if filter.description %}
      <div class="collection-description">
        {{ filter.description | editable }}
      </div>
    {% else %}
      {% if collection.description %}
        <div class="collection-description">
          {{ collection.description | editable }}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if collection.products.size > 0 %}

      <div class="row">
        {% include "pagination" %}
      </div>

      <div class="collection-panel row
                  padded-inner"
      >
        {% include "collection_sort" %}
      </div>

      <div class="collection-products_list grid-row-inner">
        {% for product in products %}
          <div class="product_preview
                      lg-grid-4 md-grid-6 sm-grid-4 xs-grid-6 mc-grid-12
                      padded-inner"
          >
            {% include 'product_preview' %}
          </div>

          {% cycle 'l-grid': '', '', '<div class="lg-grid-12 sm-grid-12 md-hidden xs-hidden"><div class="collection-seporator"></div></div>' %}
          {% cycle  'm-grid': '', '<div class="md-grid-12 xs-grid-12 lg-hidden sm-hidden mc-hidden"><div class="collection-seporator"></div></div>' %}
        {% endfor %}
      </div>

      <div class="collection-panel row
                  padded-inner"
      >
        {% include "collection_sort" %}
      </div>

      <div class="row">
        {% include "pagination" %}
      </div>

  {% else %}

    <div class="padded-vertical">
      {% if collection.current_characteristics.size > 0 or price_min %}
        <div class="notice notice--warning">
          Простите, но по выбранным параметрам мы ничего не нашли. Попробуйте выбрать другие значения.
        </div>
      {% else %}
        <div class="notice notice--info">
          Простите, в данном разделе пока нет товаров. Мы работаем над этим.
        </div>
      {% endif %}
    </div>

  {% endif %}

  {% unless filter %}
    {% if collection.seo_description and paginate.current_page == 1 %}
      <div class="collection-seo_description">
        {{ collection.seo_description | editable }}
      </div>
    {% endif %}
  {% endunless %}

{% endpaginate %}