<h1 class="cart-title content-title">Корзина</h1>

{% if cart.items.size > 0 %}
  <div class="notice notice--warning js-cart-notice" style="display:none">
    В вашей корзине нет товаров
  </div>

  <form id="cartform"
        action="{{ cart_url }}"
        method="post"
        class="cart-table_container"
  >
    <input type="hidden" name="_method" value="put">

    <div class="cart-items_list">
      {% for item in cart.items %}

        <div id="cart_order_line_{{ item.id }}"
            class="cart_item"
            data-item-id="{{ item.id }}"
        >
          {% comment %}
            картинка
          {% endcomment %}
          <div class="cart_item-image
                      image-wrapper
                      lg-grid-1 md-grid-1 sm-grid-3 xs-grid-3 mc-grid-12"
          >
            <a href="{{ item.product.url }}" class="image-square">
              <img src="{{ item.product.first_image.medium_url }}" />
            </a>
          </div>

          {% comment %}
            название
          {% endcomment %}
          <div class="cart_item-title
                      lg-grid-5 md-grid-4 sm-grid-9 xs-9"
          >
            <div class="cart_item-wrapper">
              <a href="{{ item.product.url }}" class="cart_item-link">
                {{ item.title }}
              </a>
              {% if item.sku %}
                <div class="cart_item-sku">арт. {{ item.sku }}</div>
              {% endif %}
            </div>
          </div>

          {% comment %}
            кол-во
          {% endcomment %}
          <div class="cart_item-quantity
                      lg-grid-1 md-grid-2 sm-grid-3 xs-grid-4
                      md-right"
          >

            <div class="cart_item-wrapper quantity quantity--inline">
              <div class="quantity-button quantity-button--minus js-quantity-minus">
                <i class="fa fa-minus"></i>
              </div>

              <input  type="text"
                      class="quantity-input js-quantity-input"
                      name="cart[quantity][{{ item.id }}]"
                      value="{{ item.quantity }}"
                      data-price="{{ item.sale_price }}"
              />

              <div class="quantity-button quantity-button--plus js-quantity-plus">
                <i class="fa fa-plus"></i>
              </div>

            </div>

          </div>

          {% comment %}
            цена
          {% endcomment %}
          <div class="cart_item-prices--stock prices-current
                      lg-grid-2 md-grid-2 sm-grid-2
                      xs-hidden
                      center
                      js-price_type-{{ item.id }}"
          >
            {{ item.sale_price | money }}
          </div>

          {% comment %}
            суммарно
          {% endcomment %}
          <div class="cart_item-prices--total
                      prices-current
                      lg-grid-2 md-grid-2 sm-grid-3 xs-grid-4 mc-grid-7
                      js-cart_item-total
                      center"
          >
            {{ item.total_price | money }}
          </div>

          {% comment %}
            удаление
          {% endcomment %}
          <div class="cart_item-delete
                      lg-grid-1 md-grid-1 sm-grid-1 xs-grid-1
                      right"
          >
            <a  href="{{ item.url }}"
                class="js-cart_item-delete"
                data-item-id="{{ item.id }}"
            >
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>

    {% comment %}
      вывод скидок
    {% endcomment %}
    {% if cart.enable_coupon? or cart.discounts.size > 0 %}
      <div class="discounts">
        <div class="discounts-kupon
                    lg-grid-6 md-grid-6 sm-grid-6 xs-grid-12"
        >
          {% if cart.enable_coupon? %}
            <div class="discounts-input
                        input input--inline {% if cart.invalid_coupon? %} input--error{% endif %}"
            >
              <label  for="kupon-number"
                      class="input-label"
              >
                Купон
              </label>

              <input  type="text"
                      id="kupon-number"
                      class="discounts-field input-field"
                      name="cart[coupon]"
                      value="{{ cart.coupon }}"
              />

              <input  type="button"
                      class="discounts-submit
                            input-button button
                            js-discounts-submit"
                      value="Применить"
              />

              {% if cart.invalid_coupon? %}
                <div class="discounts-notice input-notice notice--danger">
                  {{ cart.coupon_error }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="discounts-list
                    lg-grid-6 md-grid-6 sm-grid-6 xs-grid-12
                    js-discounts-list"
        >
          {% if cart.discounts.size > 0 %}
            {% for discount in cart.discounts %}
              <div class="discount">
                <div class="discount-title
                            lg-grid-8 md-grid-8 sm-grid-7 xs-grid-8
                            lg-right md-right"
                >
                  {{ discount.description }}
                </div>
                <div class="prices prices--discount
                            lg-grid-4 md-grid-4 sm-grid-5 xs-grid-4
                            right"
                >
                  {{ discount.amount | money }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% comment %}
      итогова стоимость
    {% endcomment %}
    <div class="cart_total">
      <div class="lg-grid-4 md-grid-4 sm-grid-6 xs-12
                  lg-fr md-fr sm-fr"
      >
        <div class="cart_total-title
                    grid-6"
        >
          Итого:
        </div>

        <div class="grid-6 right"
        >
          <span class="cart_total-price
                      prices-current
                      js-cart-total"
          >
            {{ cart.total_price | money }}
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-7">
        <a href="{{ collections.all.url }}" class="cart-button button
                 js-cart-go_back"
        >
          Продолжить покупки
        </a>
      </div>

      <div class="grid-5 right"
      >
        <input  type="submit"
                class="cart-button
                      button button--checkout"
                name="make_order"
                value="Оформить"
        />
      </div>
    </div>

  </form>

{% else %}

  <div class="notice notice--warning">
    В вашей корзине нет товаров
  </div>

{% endif %}

<script type="text/javascript">
  {% for item in cart.items %}
    $(function(){
      var
        $pricetype = $( '.js-price_type-{{ item.id }}'),
        count      = $pricetype.parents( '.cart_item:first' ).find( '.js-quantity-input' ).val();

      $pricetype
        .priceType({
          product: {{ item.product | json }}
        })
        .update({
          quantity: count,
          variant_id: {{ item.id }}
        });
    });
  {% endfor %}
</script>