{% assign coll = collections.frontpage %}
{% if coll.products.size > 0 %}
  <div class="index_collection">
    <div class="index_collection-title">
      <a href="{{ coll.url }}" title="{{ coll.title }}">
        {{ coll.title | upcase }}
      </a>
    </div>
    <div class="index_collection-product_list grid-row-inner">
      {% for product in coll.products limit: settings.index_collection_1_count %}
        <div class="product_preview
                    lg-grid-3 md-grid-3 sm-grid-4 xs-grid-6 mc-grid-12
                    padded-inner"
        >
          {% include "product_preview" %}
        </div>

        {% cycle 'l-grid': '', '', '', '<div class="lg-grid-12 md-grid-12 sm-hidden xs-hidden"><div class="collection-seporator"></div></div>' %}
        {% cycle  'm-grid': '', '', '<div class="sm-grid-12 lg-hidden md-hidden xs-hidden"><div class="collection-seporator"></div></div>' %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% comment %}
  возможности слайдера в адаптиве
{% endcomment %}

{% assign coll = collections.popular %}
{% if coll.products.size > 0 %}
  <div class="slider slider--index_collection">
    <div class="slider-title index_collection-title">
      <a href="{{ coll.url }}" title="{{ coll.title }}">
        {{ coll.title | upcase }}
      </a>

      <div class="slider-control">
        <div class="slider-left js-slider-left">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="slider-right js-slider-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div>

    <div class="slider-container js-slider">
      {% for product in coll.products limit: settings.index_collection_2_count %}
        <div class="product_preview padded-inner">
          {% include "product_preview" %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="index-content page-content editor">
  {{ page.content | editable }}
</div>