<!DOCTYPE html>
<html lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>{% yield 'title' %}</title>
  <!-- <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>-->
  <meta content='noindex, nofollow' name='robots'>

  {% include "head" %}

  {% comment %}
  {{ 'checkout' | global_stylesheet_tag }}
  {% endcomment %}

  {% assign customer_checkout_css = 'custom_checkout.css' | asset_url %}
  {% if customer_checkout_css %}
    <link href='{{ customer_checkout_css }}' rel='stylesheet'>
  {% endif %}

</head>
<body>

  {% include "header" %}

  <section class="section--breadcrumbs">
    <div class="wrap row">
      {% if client %}
          <ul class='links menu menu--personal_cabinet menu--horizontal padded-inner-vertical'>
            {% if linklists.account-menu %}
              {% for link in linklists.account-menu.links %}
                <li class="menu-node menu-node--personal_cabinet">
                  <a href='{{ link.url }}' class="menu-link">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              <li class="menu-node menu-node--personal_cabinet">
                <a href='/' class="menu-link">
                  Вернуться в магазин
                </a>
              </li>
              <li class="menu-node menu-node--personal_cabinet">
                <a href='/client_account/contacts' class="menu-link">
                  Контактные данные
                </a>
              </li>
              <li class="menu-node menu-node--personal_cabinet">
                <a href='/client_account/addresses' class="menu-link">
                  Адрес доставки
                </a>
              </li>
              <li class="menu-node menu-node--personal_cabinet">
                <a href='/client_account/orders' class="menu-link">
                  Заказы и скидки
                </a>
              </li>
              <li class="menu-node menu-node--personal_cabinet">
                <a href='/client_account/feedback' class="menu-link">
                  Обратная связь
                </a>
              </li>
            {% endif %}
            <li class="menu-node menu-node--personal_cabinet">
              <a href="/client_account/exit" class="menu-link">
                {{ client.full_name }}
                (Выход)
              </a>
            </li>
          </ul>
      {% endif %}
    </div>
  </section>

  <section class="section--content">
    <div class="wrap row padded-inner">

      <div class='body fc'>
        

        <div class='content-title page-title'>{% yield 'title' %}</div>
        {% yield 'flash_messages' %}
        <div id='top_info'>{% yield 'top_info' %}</div>

        <div class="grid-row-inner">
          {% yield %}
          {% yield 'sidebar' %}
        </div>
      </div>

    </div>
  </section>

  {% include "footer" %}

  {{ 'checkout' | global_javascript_tag }}
  <script type="text/javascript" src="{{ 'template.js' | asset_url }}"></script>
  {% include "init_js" %}

  <script type="text/javascript">
    $(function(){
      // разметка для блоков
      $( '.set:not(.wide_set) .set-block' )
        .addClass( 'lg-grid-8 md-grid-8 sm-grid-12 xs-grid-12 padded-inner-sides padded-inner-bottom' );

      $( '.wide_set .set-block' )
        .addClass( 'grid-12' );
      $( '.wide_set' )
        .parent()
          .removeClass( 'grid-row-inner' );

      $( '.set-sidebar' )
        .addClass( 'lg-grid-4 md-grid-4 sm-grid-12 xs-grid-12 padded-inner-sides' );

      $( '#registered_client' )
        .addClass( 'lg-grid-6 md-grid-6 sm-grid-6 xs-grid-12' )
        .addClass( 'lg-padded-inner-right md-padded-inner-right sm-padded-inner-right' );

      if( $( '#regular_client' ).parent().is( 'div' ) ){
        $( '#regular_client' )
          .parent()
          .addClass( 'lg-grid-6 md-grid-6 sm-grid-6 xs-grid-12' )
          .addClass( 'lg-padded-inner-left md-padded-inner-left sm-padded-inner-left' );
      };

      // поля ввода
      var
        $input = $( '.field' );

      $input.addClass( 'input' );
      $input
        .find( '.field-label' )
          .addClass( 'input-label' )
          .removeAttr( 'style' );

      var
        $required = $input.find( '.input-label > span.warning' );
      
      $required.each( function(){
        $(this)
          .parents( '.input:first' )
            .addClass( 'input--required' );
        $(this).remove();
      })

      $input
        .find( '.field-content input:not(.button, [type="checkbox"])' )
          .addClass( 'input-field' )
          .removeAttr( 'style' );
      $input
        .find( '.field-content textarea' )
          .addClass( 'input-field' )
          .removeAttr('style');

      $input
        .find( '.field-content' )
          .removeAttr( 'style' );

      $( '#captcha_challenge' )
        .addClass( 'input-captcha' )
        .parents( '.input:first' )
          .addClass( 'input--captcha' );

      // select
      styleSelect( 'select' );

      window.setTimeout( function(){
        styleSelect( 'select#shipping_address_state' );
      }, 500 );

      $( '#shipping_address_country' )
        .on( 'change', function(){
          window.setTimeout( function(){
            var
              $state = $( '#shipping_address_state' );

            if( $state.is( 'input' ) ){
              console.log( 'input' );
              $state
                .parent()
                  .removeClass( 'styled_select-wrapper' );

              $state
                .addClass( 'input-field' )
            }
            else if( $state.is( 'select' ) ){
              console.log( 'select' );
              styleSelect( 'select#shipping_address_state' );
            }
          }, 100 );
        })

      // цены
      $( 'td.price' )
        .addClass( 'prices' )
        .find( 'span' )
          .addClass( 'prices-current' );

      $( 'p.price' )
        .addClass( 'prices-current' );

      // заголовки
      $( '.set-title' )
        .addClass( 'content-title' );

      $( '#create_order' )
        .removeAttr( 'style' )
        .wrap( '<div class="center" />' );

      // messages
      $( '.error, .red' )
        .addClass( 'notice notice--danger' );

      $( '.green' )
        .addClass( 'notice notice--success' );

      $( '.message .notice' )
        .addClass( 'notice notice--info' );

      // table
      $( '#orders_history, .table' )
        .wrap( '<div class="table-responsive" />' );

      // buttons
      $( '.back_to_shop' )
        .addClass( 'button' );

      $( '#shipping_address_phone, #client_phone' )
        .mask('+7(999)999-99-99');

      // общие кнопки
      $( 'input[type="submit"]' )
        .addClass( 'mc-grid-12' );

      // кнопки "действия"
      $( '#create_order, [name="commit"], .back_to_shop' )
        .addClass( 'button--action mc-grid-12' );

      // разлогиниться
      $( 'a[data-method="delete"]' )
        .addClass( 'button' )
        .parent()
          .siblings('#regular_client')
            .css({
              'line-height': '35px',
              'margin-right': '0.5em'
            });

      var
        text = $( '.set-title.content-title:first' ).text();
      if( text.indexOf( 'Состав заказа' ) > -1 ){
        $( '.input' )
          .addClass( 'input--titled' );

        $( '.field-content' )
          .addClass( 'input-value' );
      }
    });
  </script>
</body>
</html>
