{% comment %}
  нижня панель и маленький грязный хак
{% endcomment %}
<div class="panel-margin--footer"></div>

<div class="panel panel--footer">
  <div class="panel-content--footer">
    <a href="{{ cart_url }}" class="panel-button button">
      <span class="basket-icon">
        <i class="fa fa-shopping-cart"></i>
      </span>

      <span class="basket-items_count
                  js-basket-items_count"
      >
        {{ cart.items_count }}
      </span>
    </a>

    <a href="#top"
        class="panel-button button
              js-scroll_to_top"
    >
      <span class="button-icon">
        <i class="fa fa-chevron-up"></i>
      </span>
    </a>

    {% if template == 'product' %}
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product.url }}"
            class="panel-button button"
        >
          <span>
            <i class="fa fa-arrow-left"></i>
          </span>
        </a>
      {% endif %}
      {% if collection.next_product %}
        <a href="{{ collection.next_product.url }}"
            class="panel-button button"
        >
          <span>
            <i class="fa fa-arrow-right"></i>
          </span>
        </a>
      {% endif %}
    {% endif %}

    {% comment %}
      кнопка "на уровень вверх"
    {% endcomment %}
    {% assign button_url = false %}
    {% case template %}
      {% when "product" %}
        {% assign button_url = collection.url %}
      {% when "collection" %}
        {% if collection.handle != 'all' and collection.parent.handle != 'all' %}
          {% assign button_url = collection.parent.url %}
        {% else %}
          {% assign button_url = '/' %}
        {% endif %}
      {% when 'article' %}
        {% assign button_url = blog.url %}
      {% when "blog" %}
        {% assign button_url = '/' %}
      {% when "page" %}
        {% assign button_url = '/' %}
    {% endcase %}
    {% if button_url %}
      <a href="{{ button_url }}{% if language.not_default? %}?lang={{ language.locale }}{% endif %}" class="panel-button button">
        <span class="">
          <i class="fa fa-reply"></i>
        </span>
      </a>
    {% endif %}
  </div>

</div>
