<footer>

  <div class="section--footer_menus">
    <div class="wrap row grid-inline">

      {% for i in (1..4) %}
        {% capture handle %}footer-menu-{{ i }}{% endcapture %}
        {% assign menu = linklists[handle] %}
        {% if menu.links.size > 0 %}
          <div class="footer_block
                      lg-grid-3 sm-grid-6 mc-grid-12
                      padded"
          >
            <div class="footer_block-title">
              {{ menu.title }}
              <span class="menu-toggler menu-toggler--footer">
                <i class="fa fa-plus
                          lg-hidden md-hidden"
                ></i>
              </span>
            </div>
            <ul class="footer_block-content menu menu--footer menu--vertical">
              {% for link in menu.links %}
                <li class="menu-node menu-node--footer">
                  <a href="{{ link.url }}" class="menu-link">
                    <i class="fa fa-angle-double-right"></i>
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="section--footer_copyright">
    <div class="wrap row">

      {% if blocks.copyright.content %}
        <div class="copyright
                    lg-grid-4 md-grid-5 sm-grid-6 xs-grid-12
                    xs-center
                    padded"
        >
          {{ blocks.copyright.content }}
        </div>
      {% endif %}

      {% if settings.show_socials_links %}
        <div class="lg-grid-8 md-grid-7 sm-grid-6 xs-grid-12
                    lg-right sm-center
                    padded"
        >
          {% include "social_groups" %}
        </div>
      {% endif %}

    </div>
  </div>

  {% comment %}
    нижня панель и маленький грязный хак
  {% endcomment %}
  <div class="footer-margin hidden lg-hidden"></div>
  <div class="footer-panel hidden lg-hidden">
    {% if template == 'collection' %}
      {% assign classes = 'grid-4' %}
    {% else %}
      {% assign classes = 'grid-6' %}
    {% endif %}

    <a href="{{ cart_url }}" class="{{ classes }} button button--footer_panel">
      <span class="button-icon">
        <i class="fa fa-shopping-cart">
          <span class="basket-items_count js-basket-items_count">0</span>
        </i>

      </span>
      Корзина
    </a>

    {% if template == 'collection' %}
      <span class="{{ classes }} button button--footer_panel js-panelg-link">
        <span class="button-icon">
          <i class="fa fa-chevron-left"></i>
        </span>
        Каталог
      </span>
    {% endif %}

    <a href="#top" class="{{ classes }} button button--footer_panel js-scroll_to_top">
      <span class="button-icon">
        <i class="fa fa-chevron-up"></i>
      </span>
      наверх
    </a>
  </div>
</footer>

{% include "init_js" %}
