{% comment %}
пример многоуровнего меню коллекций с раскрывающимися списками
{% endcomment %}

<ul class="menu menu--collection menu--vertical">

  {% assign menu_lvl_1 = collection.subcollections %}
  {% for link_lvl_1 in menu_lvl_1 %}
    <li class="menu-node menu-node--collection_lvl_1
              {% if link_lvl_1.current? %}menu-node--current{% endif %}
              js-menu-wrapper"
    >

      {% assign menu_lvl_2 = link_lvl_1.subcollections %}
      <a  href="{{ link_lvl_1.url }}"
          class="menu-link
                {% if link_lvl_1.current %}menu-link--current{% endif %}"
      >
        {{ link_lvl_1.title }}
      </a>

      {% if menu_lvl_2.size >0 %}
        <span class="menu-marker menu-marker--parent menu-toggler
                    js-menu-toggler">
          <i class="fa fa-plus "></i>
        </span>

        <ul class="menu menu--vertical menu--collapse">
          {% for link_lvl_2 in menu_lvl_2 %}
            <li class="menu-node menu-node--collection_lvl_2
                      {% if link_lvl_2.current? %}menu-node--current{% endif %}
                      js-menu-wrapper"
            >

              {% assign menu_lvl_3 = link_lvl_2.subcollections %}
              <a  href="{{ link_lvl_2.url }}"
                  class="menu-link menu-link
                        {% if link_lvl_2.current %}menu-link--current{% endif %}"
              >
                {{ link_lvl_2.title }}
              </a>

              {% if menu_lvl_3.size > 0 %}
                <span class="menu-marker menu-marker--parent menu-toggler
                            js-menu-toggler"
                >
                  <i class="fa fa-plus"></i>
                </span>
                <ul class="menu menu--vertical menu--collapse">
                  {% for link_lvl_3 in menu_lvl_3 %}
                    <li class="menu-node menu-node--collection_lvl_3
                              {% if link_lvl_3.current? %}menu-node-current{% endif %}"
                    >
                      <a  href="{{ link_lvl_3.url }}"
                          class="menu-link menu-link
                                {% if link_lvl_3.current %}menu-link--current{% endif %}"
                      >
                        {{ link_lvl_3.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}

</ul>
